* {
	background-color: #222;
	box-sizing: border-box;
	color: #ddd;
	font-family: Helvetica, Arial, san-serif;
}

button {
    background-color: #111;
}

body {
	/* make responsive */
	margin: 10px;
}

textarea {
	resize: none;
	overflow-y: auto;
}

.marginRight15 {
	margin-right: 15px;
}

.greyBox {
	padding: 10px;
	background-color: #333;
}

.greyBox * {
	/* make responsive */
	background-color: #333;
}

.greyBox input,
.greyBox textarea {
	background-color: #222;
}

.greyBox fieldset,
.greyBox legend {
	margin-top: 15px;
}

.greyBox form label {
	margin-right: 15px;
}

.width100 {
	width: 100%;
}

.width50 {
    position:relative;
	width: 30%;
}

input[value="disable"]{
    background-color: #a22;
}

.marginTop5 {
	margin-top: 5px;
}

#meal_sort p {
	margin-bottom: 0px;
}

#meal_sort {
	margin-bottom: 1em;
}

#meal_records .record {
	margin-bottom: 15px;
}

#meal_records h3,
#meal_records p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#meal_records .record::after {
	content: "";
	display: table;
	clear: both;
}
#meal_records > div {
	margin-left: 2em;
}

#meal_records .foodItem, .record .foodItem{
	margin-right: 10px;
	padding: 0px 5px 0px 5px;
	background-color: #444;
}

#meal_records .recordLeft {
	float: left;
	width: 75%;
}

#meal_records .recordRight {
	float: left;
	width: 25%;
}

#meal_records .categories {
	color: #bbb;
}

.nutritionForDay {
    float: right;
    margin-right:2em;
}

.nutrient{
    width: 90px;
}

.nutrientSpan{
    white-space: nowrap;
    margin-right:15px;
}

footer, footer *{
    background-color: #111;
}

footer{
    margin-top: 80px;
    padding: 10px;
}

.darkBox{
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    height: 130px;
    overflow-y:hidden;

}

.darkBox, .darkBox *{
    background-color:#222
}

.darkBox:hover{
    -webkit-mask-image:none;
    mask-image:none;
    cursor: pointer;
}

.darkBox .name{
    font-weight: bold;
}

.darkBox .username{
    text-decoration: underline;
    color: #aaa;
    font-weight:normal;
    font-style: italic;
}

.darkBox .timestamp{
    color: #aaa;
    font-weight:normal;

}
.darkBox .categories{
    color: #aaa;
    font-style: italic;
    padding-bottom: 8px;
}

.darkBox .description{
    color: #aaa;
}

button:hover, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

