<div id="Create Meal">
    <div class="greyBox">
        <h3 class="marginTop5">Create Meal</h3>
        <form action="/addMeal" method="post">
            <input
                class="width100"
                autocomplete="off"
                required
                name="name"
                type="text"
            />
            <textarea
                class="width100"
                autocomplete="off"
                name="description"
                rows="4"
                cols="50"
                maxlength="1000"
            ></textarea>

            <!--backend will combine data, hour and time and store as one value-->
            <input type="date" name="date" required />
            <input
                type="number"
                name="hour"
                min="00"
                max="23"
                style="width: 70px"
                required
            />
            <input
                type="number"
                name="minute"
                min="00"
                step="10"
                max="59"
                style="width: 70px"
                required
            />

            <!--this empty p tag cause <br> isnt creatiner spacing for some reason-->

            <br>

            <div id="tabGroup_addMealCombo">
                <button data-tab="addMeal_comboSearch_container">Search Combo</button>

                <div id="addMeal_comboSearch_container">
                    <div class="greyBox">
                        <input
                            id="addMeal_comboSearch"
                            list="comboList"
                            name="combo"
                            spellcheck="false"
                            data-ms-editor="true"
                        />
                        <input type="button" id="addMeal_comboSearchBtn" onclick="comboSearch('addMeal_comboSearch','addMeal_combo_container', 'foodForm')" type="button" value="Search Combo">
                        <div id="addMeal_combo_container"></div>
                    </div>
                </div>
            </div>

            <br>

            <div id="foodForm">
                <button onclick="addFoodSearch('foodForm')" type="button">Add Food</button>
            </div>

            
            <p>If quantity unknown place 0 next to name</p>

            <input class="width100" type="submit" value="submit" />
        </form>
    </div>
</div>
<script src="/static/comboSearch.js"></script>
<script src="/static/addMeal.js"></script>
<script>
    create_tab_event_listeners("tabGroup_addMealCombo")
    runDisUponLoadingOfForm()
    addUpdateValueEvent();
</script>