{% extends "layout.html" %}

{% block main %}
    <div id="dynamicTabGroup1">
        <div class="button_container">
            <button data-url="/addMeal_tab">Add Meal</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addFood_tab">Add Food</button>
            <button data-url="/manageFood_tab">Manage Food</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addCombo_tab">Add Combo</button>
            <button data-url="/manageCombo_tab">Manage Combo</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addCategory_tab">Add Category</button>
            <button data-url="/manageCategory_tab">Manage Category</button>
            <span class="marginRight15"></span>
        </div>

        <div class="window_container"></div>
    </div>

    <div id="tabGroup1">
        <button data-tab="meal_sort">sort</button>
        <div id="meal_sort">
            <div class="greyBox">
                <!-- this form might not need the action and method attribute cause it's already in the newest and oldest button -->
                    from:
                    <input
                        autocomplete="off"
                        name="from"
                        placeholder="dd-mm-yyyy"
                        type="date"
                        required
                    />
                    to:
                    <input
                        autocomplete="off"
                        name="to"
                        placeholder="dd-mm-yyyy"
                        type="date"
                        required
                    />
                    <span class="marginRight15"></span>

                    <input type="button" value="newest">
                    <input type="button" value="oldest">
            </div>
        </div>
    </div>
    <!--meals-->
    <div id="meal_records">

    </div>
    <div class="nutritionForDay">
        <p>nutritional information for day</p>
        <p>expand</p>
    </div>

    <footer>
        <a href="https://en.wikipedia.org/wiki/List_of_culinary_fruits">
            <p>List of fruits and their types</p></a>
        <a href="https://en.wikipedia.org/wiki/List_of_vegetables">
            <p>List of vegetables and their types</p></a>
    </footer>

    <div class="this div is just to get rid of clutter">
        <datalist id="foodList">
            {% for food in foodList %}
            <option value="{{food}}"></option>
            {% endfor %}
        </datalist>

        <datalist id="categoryList">
            {% for category in categoryList %}
            <option value="{{category}}"></option>
            {% endfor %}
        </datalist>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <script src="/static/dynamicTabs.js"></script>
        <script src="/static/tabs.js"></script>
        <script src="/static/implicitAttributes.js"></script>
        <script src="/static/dynamicButtonStuff.js"></script>

        <script src="/static/meal_sort.js"></script>
        <script src="/static/meal_edit.js"></script>

        <script src="/static/addUpdateValueEvent.js"></script>
    </div>

{% endblock %}
