{% extends "layout.html" %}

{% block main %}
    <a href="{{ url_for('index') }}" style="text-docoration:none;">
        <h1>The Macros and Micros</h1>
    </a>

    <div id="dynamicTabGroup1">
        <div class="button_container">
            <button data-url="/addMeal_tab">Add Meal</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addFood_tab">Add Food</button>
            <button data-url="/manageFood_tab">Manage Food</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addCombo_tab">Add Combo</button>
            <button data-url="/manageCombo_tab">Manage Combo</button>
            <span class="marginRight15"></span>
    
            <button data-url="/addCategory_tab">Add Category</button>
            <button data-url="/manageCategory_tab">Manage Category</button>
            <span class="marginRight15"></span>

            <!--
            <button data-url="/addNutrient_tab">Add Nutrient</button>
            <button data-url="/manageNutrient_tab">Manage Nutrient</button>
            <span class="marginRight15"></span>-->

            <button data-url="/addDri_tab">Add DRI</button>
            <button data-url="/manageDri_tab">Manage DRI</button>
            <span class="marginRight15"></span>

            <button data-url="/setting_tab">Settings</button>
            <span class="marginRight15"></span>
        </div>

        <div class="window_container"></div>
    </div>

    <div id="tabGroup1">
        <button data-tab="meal_sort">sort</button>
        <div id="meal_sort">
            <div class="greyBox">
                <!-- this form might not need the action and method attribute cause it's already in the newest and oldest button -->
                    from:
                    <input
                        autocomplete="off"
                        name="from"
                        placeholder="dd-mm-yyyy"
                        type="date"
                        value="{{sort_date.from_date}}"
                        required
                    />
                    to:
                    <input
                        autocomplete="off"
                        name="to"
                        placeholder="dd-mm-yyyy"
                        type="date"
                        value="{{sort_date.to_date}}"
                        required
                    />
                    <span class="marginRight15"></span>

                    <input type="button" value="newest">
                    <input type="button" value="oldest">
            </div>
        </div>
    </div>
    <!--meals-->
    <div id="meal_records">

    </div>

    <footer>
        <h3><b>general notes (Simplified cause you know I'm not a qualified food scientist just a programmer)</b></h3>
 
        <p>Recommended Dietary Intake <b>(RDA)</b> is basically the <b>minimum</b></p> 
        <p>Upper Limit <b>(UL)</b> is indeed the upper limit</p>
        
        <p>Dietary Reference Intakes <b>(DRI)</b> can refer to RDAs and ULs for a specified group(gender, weightclass, age)</p>

        <p><b>sugar doesn't really have a UL</b>, cause the only information on recommended ULs on sugar I can find relate to ADDED sugars and not actual sugar</p>
        
        <p><b>magneisum data is weird</b>, the limits on magnesium relates to supplementary sources, <b>there should be no problem with "overdosing" if your magnesium sources
        are from food</b></p>
        
        <p>you should <b>not worry too much</b> if you have a little bit of <b>overdose</b> on <b>calcium</b> and <b>b3</b> just google the symptoms, if you actually notice them, than do something about it</p>
        
        <p><b>dont worry</b> about some of the <b>weirder sounding nutrients</b> (like molybdenum, Linoliec_acid...), the reason why theres no ratios on them, is because the food data was not available, likely because <b>there aren't many cases of deficiencies for them.</b></p>
        
        <p>The RDA(minimum) and UL(maximum) for this nutrients are for fairly active males 19-30, if you're especially active you should have more omega 3, protein, calories, carbs, potassium(again note that data tend to be incomplete), vitamin D...</p>
        
        <!--<p>sodium should limit to 2300mg based on expert opinion</p>-->

        <h3>Useful Links</h3>
        <a href="https://en.wikipedia.org/wiki/List_of_culinary_fruits">
            <p>List of fruits and their types</p></a>
        <a href="https://en.wikipedia.org/wiki/List_of_vegetables">
            <p>List of vegetables and their types</p></a>

        <p>Most of the food data was extracted from NCCDB, USDA, CRDB</P
    </footer>

    <div class="this div is just to get rid of clutter">
        <datalist id="foodList">
            {% for food in foodList %}
            <option value="{{food}}"></option>
            {% endfor %}
        </datalist>

        <datalist id="categoryList">
            {% for category in categoryList %}
            <option value="{{category}}"></option>
            {% endfor %}
        </datalist>

        <datalist id="comboList">
            {% for combo in comboList %}
            <option value="{{combo}}"></option>
            {% endfor %}
        </datalist>

        <datalist id="users">
            {% for user in users %}
            <option value="{{user.name}}"></option>
            {% endfor %}
        </datalist>

        <datalist id="driList">
            {% for dri in driList %}
            <option value="{{dri}}"></option>
            {% endfor %}
        </datalist>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <script src="/static/dynamicTabs.js"></script>
        <script src="/static/tabs.js"></script>
        <script src="/static/implicitAttributes.js"></script>
        <script src="/static/dynamicButtonStuff.js"></script>

        <script src="/static/meal_sort.js"></script>
        <script src="/static/meal_edit.js"></script>
        
        <script src="/static/foodSearch.js"></script>

        <script src="/static/addUpdateValueEvent.js"></script>

        <script defer>
            init_from = document.querySelector("#meal_sort input[name='from']").value
            init_to = document.querySelector("#meal_sort input[name='to']").value

            console.log({init_from})
            $.ajax({
                type:'get',
                url:'/meal_sort/ASC',
                data:{
                    from:init_from,
                    to:init_to
                },
                success:function(response)
                {
                    $("#meal_records").html(response);
                }
            })
        </script>
    </div>

{% endblock %}
