<!DOCTYPE html>
<html lang="en">
	<head>
		<!--define keywords for search engines-->
		<meta name="keyword" content="nutrition, nutrients, diet" />

		<!--Define the author-->
		<meta name="author" content="Sean Lee" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie-edge" />
		<title>Nutrition Calculator</title>
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/tab.css" />

		<!--DELETEME for debug purposes-->
		<!-- <meta http-equiv='refresh' content='30'/> -->
	</head>
    <body>
        {% block main %} {% endblock %}
    </body>
</html>