<div id="Edit Category">
    <div class="greyBox">
        <h3 class="marginTop5">Edit Category</h3>
        <form action="/editCategory" method="post">
            <input name="id" value="{{category_data.id}}" hidden readonly/>
            <input
                class="width100"
                autocomplete="off"
                required
                name="name"
                value="{{category_data.name}}"
                type="text"
            />

            <fieldset title='Select a header for organization in "Add Meal" form'>
                <legend><b>category headers</b></legend>
                {% for header in category_nest %}

                <!--quick note: header is the header_id-->

                <input
                    type="radio"
                    id="addCategoryHeader{{header}}"
                    name="header"
                    value="{{category_nest[header]['name']}}"
                        {% if header == category_data.category_header_id %}
                            checked
                        {% endif %}
                    placeholder="category"
                />
                <label for="addCategoryHeader{{header}}"
                    >{{category_nest[header]['name']}}</label
                >
                {% endfor %}
            </fieldset>

            <fieldset
                title='Parent categories of a child will be auto checked in "Add Meal" form'
            >
                <legend><b>parent categories</b></legend>
                {% for header in category_nest %}

                <legend><b>{{category_nest[header]['name']}}</b></legend>

                {% for category in category_nest[header]['list'] %}
                <input
                    type="checkbox"
                    id="addCategoryParent{{category.id}}"
                    name="parent"
                    value="{{category.name}}"
                    {% if category.id in category_data.parents %}
                        checked
                    {% endif %}
                /><label for="addCategoryParent{{category.id}}"
                    >{{category.name}}</label
                >
                {% endfor %}
                <hr />
                {% endfor %}
            </fieldset>

            <br />
            <input class="width100" type="submit" value="submit" />
        </form>
        <form action="/manageCategory_editor_deactivate" method="post">
            <input name="id" value="{{category_data.id}}" readonly hidden/>
            <input class="width50" type="submit" value="deactivate" />
        </form>
        <button class="width50" onclick="this.parentElement.parentElement.remove()">cancel</button>
    </div>
</div>

<script>
    runDisUponLoadingOfForm()
    addUpdateValueEvent();
</script>