<div id="Manage Category">
    <div class="greyBox">
        <h3 class="marginTop5">Manage Category</h3>
        <input
            id="manageCategorySearch"
            placeholder="category"
            list="categoryList"
            name="category"
            spellcheck="false"
            data-ms-editor="true"
        />
        <button id="manageCategorySearchButton">Search Category</button>

        <div id="manageCategoryResults"></div>
    </div>
</div>
<script src="/static/manageCategory.js"></script>
<script>
    runDisUponLoadingOfForm()
    addUpdateValueEvent();
</script>