<!--to resume JS and python backend for manageNutrient
    
    <div id="Manage Nutrient">
    <div class="greyBox">
        <h3 class="marginTop5">Manage Nutrient</h3>
        <input
            id="manageNutrientSearch"
            placeholder="nutrient"
            list="nutrientList"
            name="nutrient"
            spellcheck="false"
            data-ms-editor="true"
        />
        <button id="manageNutrientSearchButton">Manage nutrient</button>

        <div id="manageNutrientResults"></div>
    </div>
</div>
<script src="/static/manageNutrient.js"></script>
<script>
    runDisUponLoadingOfForm()
    addUpdateValueEvent();
</script>

-->